.card-counter {
    position: relative;
    width: 4em;
    height: 2em;
    border-radius: 50%;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    padding-bottom: 7%;
    float: right;
    background: gold;
    bottom: 92px;
    color: #fff;
}